{% extends 'services/base.html' %}
{% block body %}
    <h1>All services</h1>


    <div id="add" class="right-corder-container">
        <button class="right-corder-container-button">
            <span class="short-text">+</span>

        </button>
    </div>
    <div id="AddModal" class="x-modal modal">
        <div class="modal-content x-modal-content">
            <span class="close">&times;</span>
            <input placeholder="title" id="add-title" type="text"/>
            <input id="add-image" type="file"/>
            <img src="" id="add-img-prev" width="500">
            <input type="submit" id="add-submit" value="Add">


        </div>
    </div>

    <ul id="list-bitch-talala">
        {% comment %}{% for service in services %}{% endcomment %}



        {% comment %}{% empty %}
            <li>Здесь нет услуг</li>
        {% endfor %}{% endcomment %}
    </ul>

{% endblock %}